const path = require('path');
const ErrorResponse = require('../utils/errorResponse');
const asyncHandler = require('../middleware/async');
const {{ModelName}} = require('./{{componentName}}.schema.js');



{{ appComponentMethods }}